.welcome-header{
    margin-top: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-header__title{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.welcome-header__text{
    width: 60%;
    opacity: 0.7;
    margin-bottom: 90px;
}

#login-form{
    display: flex;
    flex-direction: column;
    margin-left: 0px 30px;
}

#login-form input{
    padding: 15px 0px;
    border: none;
    font-size: 18px;
    border-bottom:  1px solid rgba(0,0,0,0.2);
    margin-bottom: 25px;
    transition: border-color .3s ease-in-out; /*border 색이 3초동안 갈수록 빠르게? 변하도록*/
}

#login-form input::placeholder{
    color: rgba(0,0,0,0.2);
}

#login-form input:not([type="submit"]){ /*type이 submit이 아닌 input요소들*/
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input:focus{
    border-color: var(--yellow);
}

#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

#login-form a{
    text-align: center;
    text-decoration: none;
    color: inherit; /*a에게서 색깔 상속받음*/
    font-size: 13px;
}



